<h5 class="text-center">Vote !</h5>
<div class="row no-gutters justify-content-around">
  <div class="row flex-column align-items-center w-50">
    <mat-label>I am</mat-label>
    <form class="w-75">
      <mat-select [(ngModel)]="selectedVoterId" name="voters" class="mat-select">
        <mat-option *ngFor="let voter of voters" [value]="voter.id">
          {{voter.name}}
        </mat-option>
      </mat-select>
    </form>
  </div>
  <div class="row flex-column align-items-center w-50">
    <mat-label>I vote for</mat-label>
    <form class="w-75">
      <mat-select [(ngModel)]="selectedCandidateId" name="voters" class="mat-select">
        <mat-option *ngFor="let candidate of candidates" [value]="candidate.id">
          {{candidate.name + '  ' + candidate.surname}}
        </mat-option>
      </mat-select>
    </form>
  </div>
</div>
<div class="row justify-content-center mt-4">
  <a class="yellowButton" (click)="saveVote()">Submit</a>
</div>
