<app-table [tableSettings]="settingData"
           [tableData]="candidates"
           [header]="'Candidates'"
           (addElement)="prepareAddNewCandidateModal()">
</app-table>

<app-modal #addNewCandidateModal (modalClosed)="votesService.resetForm(addCandidate)">
  <h5>Add new Candidate</h5>
  <div class="row flex-column no-gutters align-items-center mt-3">
    <app-input [placeholder]="'John'"
               [span]="'Candidate name'"
               [formControlNameValue]="addCandidate.get('name')">
    </app-input>
    <br>
    <app-input [placeholder]="'Cena'"
               [span]="'Candidate surname'"
               [formControlNameValue]="addCandidate.get('surname')">
    </app-input>
    <a class="yellowButton mt-3" (click)="addNewCandidate()">
      Add
    </a>
  </div>
</app-modal>
