<div class="input">
  <input type="{{type}}"
         class="inputText"
         placeholder="{{placeholder}}"
         [formControl]="formControlNameValue"
         [ngClass]="{'errorInput': (error$ | async)}"
         (press)="sendInputValue('')"/>
  <span class="floating-label">{{span}}</span>
  <span *ngIf="(error$ | async) as error" class="errorHolder">{{ error }}</span>
</div>
