.modal-background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);

  .modal-content {
    width: 552px;
    max-height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 20px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 600px) {
      width: 450px;
    }

    @media (max-width: 450px) {
      width: 400px;
    }

    @media (max-width: 400px) {
      width: 350px;
    }

    @media (max-width: 350px) {
      width: 320px;
    }

    p {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      border: 2px solid #000;
      text-align: center;
      cursor: pointer;
    }
  }
}
