.yellowButton {
  width: 150px;
  line-height: 40px;
  background: #FFCB06;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  padding: 12px 22px;
  text-decoration: none;
  text-align: center;
}
