<app-table [tableSettings]="settingData"
           [tableData]="voters"
           [header]="'Voters'"
           (addElement)="prepareAddNewVoterModal()">
</app-table>

<app-modal #addNewVoterModal (modalClosed)="votesService.resetForm(addVoter)">
  <h5>Add new Voter</h5>
  <div class="row flex-column no-gutters align-items-center mt-3">
    <app-input [placeholder]="'John'"
               [span]="'Voter name'"
               [formControlNameValue]="addVoter.get('name')">
    </app-input>
    <a class="yellowButton mt-3" (click)="addNewVoter()">
      Add
    </a>
  </div>
</app-modal>
