<header class="p-3 mb-3 border-bottom">
  <div class="row flex-wrap align-items-center justify-content-center">
    <ul class="nav row">
      <li *ngFor="let item of topMenu">
        <a [routerLink]="item.routerLink"
           [routerLinkActive]="'activeTab'"
          class="nav-link px-2 link-secondary">
          <span>{{item.name}}</span>
        </a>
      </li>
    </ul>
  </div>
</header>
