header {
  min-height: 72px;
}

.nav-link {
  position: relative;
  color: #76819A;
  font-size: 14px;
  line-height: 18px;
  margin-left: 50px;

  &.activeTab{
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      background-color: #fec20b;
      left: 0;
      bottom: -25px;
    }
  }
}
