/* You can add global styles to this file, and also import other style files */
@import './styles/angular-material';
@import './styles/buttons';
@import "~angular-notifier/styles";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
