<div class="row flex-column align-items-center mt-5">
  <div class="header mb-3">
    {{header}}
    <p (click)="addNewElement()">+</p>
  </div>
<table class="row flex-column align-items-center">
  <thead>
  <th *ngFor="let element of tableSettings"
      [style.minWidth]="element.minWidth">
    {{element.title}}
  </th>
  </thead>
  <tbody>
  <tr *ngFor="let row of tableData">
    <td *ngFor="let element of tableSettings"
        [style.minWidth]="element.minWidth">
      {{row[element.value]}}
    </td>
  </tr>
  </tbody>
</table>
</div>
