th, td{
  line-height: 50px;
  height: 50px;
  text-align: center;
}

th {
  border: 2px solid black;
}

td {
  border: 2px solid gray;
}

.header {
  position: relative;
  p {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    right: -100px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
  }
}
